<!DOCTYPE html>
<html>
<head>
    <title>Theateronline.be</title>
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <%- include('header') %>

    <div class="featured-show">
        <img src="banners/2.jpg" alt="Pinokkio?">
        <div class="gradient-overlay"></div>
        <div>
            <h2>Pinokkio?</h2>
            <p><a>Bekijk nu</a> Muzinar 140min</p>
        </div>
    </div>
    <div class="category">
        <h2>Voor jou</h2>
    
        <% videos.forEach(function(video){ %>
            <a class="show" href="./watch?id=<%= video.id %>">
                <img src="posters/<%= video.id %>.png" alt="<%= video.title %>">
                <div class="movie-details">
                    <h2><%= video.title %></h2>
                    <p><%= video.creator %></p>
                    <p><%= video.duration %>min</p>
                </div>
            </a>
        <%}) %>

    </div>
    <div class="category">
        <h2>Populair</h2>
    </div>
    <div class="category">
        <h2>Beste beoordeling</h2>
    </div>
    <div class="category">
        <h2>Recent toegevoegd</h2>
    </div>
    
    <%- include('footer') %>
</body>
</html>
